[package]
name = "waybar"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
waybar-cffi = "0.1.1"
serde = { version = "1.0", features = ["derive"] }

